# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data Scientists use are:
1. python
2. R language
3. SQL

**Objectives**
* Popular development environments for Data Science include Jupyter Notebooks and RStudio.
* The popular languages are Python, R, SQL, Scala, Java, C++, and Julia.
* API is just the interface

# Some of the commonly used libraries used by Data Scientists include:
1. scit-learn
2. keras 
3. metplotlib
4. pytorch
5. tenserflow

| Data Science Tools | 1 | 2 | 3 |
| -------------| ------------| -------------| -------|
| Data Management Tools | MySQL | Apache Hadhoop | MongoDB |
| Data Integration and Transformation Tools | Apache Airflow | Apache Kafka | Me |
| Data Visualization Tools | Cognos Analytics | Tableau | PowerBI |

Below are a few examples of evaluating arithmetic expressions in Python.
# Heading1
## Heading2
### Heading3

# This a simple arithmetic expression to mutiply then add integers:

## In this code cell evaluate the expression

In [8]:

    (3*4)+5

17

# In this code cell write an expression that converts 200 minutes into hours.

In [ ]:
# This will convert 200 minutes to hours by diving by 60.

In [10]:
200/60

3.3333333333333335

## **Author**: 
### Pankaj Yadav